<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
                android:name="eu.kanade.tachiyomi.appwidget.UpdatesGridGlanceReceiver"
                android:enabled="@bool/glance_appwidget_available"
                android:exported="false"
                android:label="@string/updates">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/updates_grid_glance_widget_info" />
        </receiver>
    </application>
</manifest>
